.Cart {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 45vh;
    box-shadow: 3px 3px 12px #cecece56;
}

.Image {
    width: 100%;
    height: 26vh;
}

.Cover {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

.Heading {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 2.3vh;
    font-weight: bold;
    text-align: left;
}

.Icon {
    height: 17px;
}

.Duration {
    display: inline-flex;
    margin-top: 5px;
}

.Duration p {
    font-size: 2vh;
    width: 1000%;
    margin-left: 5px;
}

.Price {
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(49, 49, 49);
    border-bottom: 4px solid #FFF35F;
}

.Lower {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 1.5vh;
}

.Date {
    text-align: left;
    padding-right: 30px;
    font-size: 1.9vh;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
    color: rgb(165, 127, 29);
}