.Container {
    display: flex;
    width: 80%;
    margin: auto;
}

.Left {
    width: 50%;
    color: #3d3d3d;
}

.Left h1 {
    font-size: 11vh;
    line-height: 10vh;
    text-align: left;
    width: 70%;
    margin-left: 20vh;
    margin-bottom: 7vh;
    font-weight: 600;
    margin-top: 12vh;
    color: #e7e7e7;
}

.Left h6 {
    text-align: left;
    margin-left: 20vh;
    margin-bottom: 2vh;
}

.Divided,
.Bold {
    margin-top: 2vh;
}

.Bold {
    font-weight: 600;
}

.Left p {
    text-align: left;
    margin-left: 20vh;
}

.Right {
    width: 50%;
}

.Right img {
    width: 30vw;
    margin-top: 2vh;
    height: 38vw;
    margin-bottom: 5vh;
}

.Cover {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}