.SingleTile {
    background-color: #B9CDC4;
    padding: 1.3vh;
    width: 10vw;
    color: #411C17;
    font-weight: 400;
    font-size: 1.9vh;
    text-transform: uppercase;
    margin: 2px;
    cursor: pointer;
}

.SingleTile:hover,
.Active {
    background-color: #e3eee9;
}

.Tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 5vh auto;
}