.OrderCart {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 12px #cecece56;
    text-decoration: none;
    color: rgb(49, 49, 49);
    transition: all .2s ease-in-out;
    width: 70%;
    padding: 15px;
    margin: 20px auto;
}

.OrderCart:hover {
    transform: scale(1.018);
    box-shadow: 5px 5px 12px #8f8f8f5d;
}

.SmallImage {
    width: 25%;
    height: 25vh;
    margin: 1%;
}

.Cover {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

.OrderHeading {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 2.7vh;
    font-weight: bold;
    text-align: left;
    color: #424242;
}

.MainTripDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    width: 97%;
}

.Icon {
    height: 17px;
}

.Duration {
    display: inline-flex;
}

.Duration p {
    font-size: 2vh;
    width: 7vh;
}

.Beside {
    width: 70%;
}

.Lower {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 1.5vh;
}

.Date {
    text-align: left;
    padding-right: 30px;
    font-size: 1.9vh;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(165, 127, 29);
}

.PriceContainer {
    display: flex;
}

.OldPrice {
    text-decoration: line-through;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.AdditionalTr {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.AddHeading {
    color: #6d6d6d;
    margin-top: 2vh;
    padding: 0;
    font-weight: 500;
}

.AddContainer,
.TotalPriceContainer {
    display: flex;
    justify-content: space-between;
}

.TotalPriceContainer {
    width: 15vw;
    float: right;
    font-weight: 600;
    border-top: 1px solid #6d6d6d;
    padding-top: 5px;
    margin-top: 10px;
}

.EditIcons {
    display: flex;
    margin-top: 2vh;
}

.EditIcons img {
    height: 2.5vh;
    margin-right: 1vh;
    cursor: pointer;
}

.HeadingContainer{
    display: flex;
    justify-content: space-between;
}

.StatusContainer {
    display: flex;
    justify-content: start;
    margin-top: 10vh;
    width: 40%;
    margin-left: 20px;
    font-size: 1.6vh;
    font-weight: 600;
}

.StatusContainer p {
    margin-right: 5px;
}