.ItemCart {
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin: auto;
    border-radius: 5px;
    min-height: 5vh;
    padding: 20px;
    margin-top: 2vh;
    box-shadow: 3px 3px 12px #cecece56;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.CartContent {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-right: 5%;
}

.Btn {
    background-color: #FFF35F;
    border: none;
    outline: none;
    height: 4vh;
    width: 12vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
    color: #411C17;
    font-weight: bold;
    cursor: pointer;
}

.Btn:hover {
    background-color: #ffee00;
}

.Aligned {
    display: flex;
}

.InlinePrice {
    color: rgb(165, 127, 29);
    font-weight: 800;
}

.confirmIcon {
    width: 3.5vh;
    padding-left: 5vh;
}