.PaginationContainer {
    display: flex;
    justify-content: center;
    margin: 5vh auto;
}

.Pagination {
    display: flex;
    list-style: none;
}

.Page {
    display: inline-block;
    margin: 2px;
    width: 26px;
    height: 26px;
    border: 1.5px solid transparent;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
}

.Number {
    width: 91%;
    margin: auto;
    color: #888888;
}

.Page:hover {
    background-color: rgb(236, 236, 236);
}

.Active {
    background-color: rgb(226, 226, 226);
    color: white;
}

.Arrow {
    border: solid rgb(129, 129, 129);
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    height: 1.5px;
    width: 1.5px;
    margin-top: 12px;
    cursor: pointer;
  }

  .Prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 5px;
  }
  
  .Next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }