.Welcome {
    color: #002b44;
    font-size: 6vh;
    text-align: left;
}

.WelcomeBox {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

.WelcomeBox h5 {
    color: #002b44;
    font-size: 3vh;
    text-align: left;
}

.Yellow {
    background-color: #FFF35F;
    height: 20vh;
    width: 5vh;
    margin: 0 8vh;
}