.Navigation {
    display: flex;
    top: 0;
    width: 100%;
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 2vh;
    justify-content: space-between;
    background-color: transparent;
}

.NavigationStandAlone {
    display: flex;
    top: 0;
    margin: auto;
    padding-top: 3vh;
    justify-content: space-between;
    background-color: whitesmoke;
    padding-bottom: 2vh;
    width: 100%;
    position: sticky;
}

.NavigationStandAlone .Logo {
    color: #5e5e5e;
    margin-left: 10%;
}

.NavigationStandAlone .Menu li a {
    color: #5e5e5e;
 }

 .NavigationStandAlone .LoginBtn {
     margin-right: 10%;
 }

.Logo {
    color: #e4e4e4;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10%;
}

.Menu {
    margin-left: 50px;
    margin-right: 50px;
}

.Menu li {
    display: inline;
    list-style: none;
    margin-left: 10px;
    margin-right: 50px;
}

.Menu li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
 }

 .Menu li a:hover,
 .Menu li a:active {
    border-bottom: 2px solid #FFF35F;
 }

.LoginBtn {
    background-color: #FFF35F;
    border: none;
    outline: none;
    height: 4vh;
    width: 12vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
    color: #411C17;
    font-weight: bold;
    margin-right: 10%;
}

.LoginBtn a {
    text-decoration: none;
}

.LoginBtn:hover {
    background-color: #f7e527;
}

/* -------------------------------------------------------------*/
/* STICKY NAV */
/* -------------------------------------------------------------*/

.Sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 2px 2px #3f635a17;
    z-index: 9999;
    transition: all 500ms cubic-bezier(0.55, 0, 0.1, 1);
}

.Sticky .Logo {
    color: #5e5e5e;
}

.Sticky .Menu li a {
    color: #5e5e5e;
 }

