.Navigation {
    display: flex;
    width: 80vw;
    margin: auto;
    padding: 5vh;
    justify-content: space-between;
}

.Logo {
    color: #e4e4e4;
    font-size: 18px;
    font-weight: 600;
}

.Menu {
    margin-left: 50px;
    margin-right: 50px;
}

.Menu li {
    display: inline;
    list-style: none;
    margin-left: 10px;
    margin-right: 50px;
}

.Menu li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
 }

 .Menu li a:hover,
 .Menu li a:active {
    border-bottom: 2px solid #FFF35F;
 }

.LoginBtn {
    background-color: #FFF35F;
    border: none;
    outline: none;
    cursor: pointer;
    height: 4vh;
    width: 12vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
    color: #411C17;
    font-weight: bold;
}

.LoginBtn:hover {
    background-color: #f7e527;
}